@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// Palette =====================================================================

	// Origin Palette
	$white: rgba(255,255,255,1);
	$grey: rgba(225,225,225,1);
	$black: rgba(30,30,30,1);

	// Norex Palette
	$primary: rgba(213,30,73,1);    // magenta
	$accent: rgba(102,36,43,1);     // maroon

	// In/Out Palette
	$in: rgba(142, 218, 134,1);		// green

// Fonts =======================================================================

	$roboto: 'Roboto', sans-serif;

// Base Style ==================================================================

	html, body {
		height: 100vh;
		overflow-x: scroll;
		width: 100vw;
	}

// Typography ==================================================================

	h1, h2, h3, h4, h5, h6, p, a, ul, li {
		font-family: $roboto;
	}

// Header Style ================================================================

	header {
		background: $primary;
		box-shadow: 0 6px 6px rgba(0,0,0,.5);
		padding: 5vh;
		position: fixed;
			top: 0;
		width: 100vw;
		z-index: 100;

		h1 {
			color: $white;
			display: block;
			font-size: 3rem;
			text-align: center;
			width: 100%;
		}

	}

// Name Block Styles ===========================================================

	.person {
		background: $grey;
		border-bottom: 3px solid $white;
		overflow: hidden;
		padding: 5vh;
		position: relative;

		h1 {
			color: $white;
			font-size: 5rem;
			font-weight: 100;
			position: relative;
			text-transform: uppercase;
			z-index: 5;
		}

		img {
			position: absolute;
				top: 50%;
				right: -5vw;
			transform: translateY(-50%);
			width: 50vw;

			&.img-in {
				opacity: 0;
				transition: all 0.5s ease;
			}

		}

		.click-response {
			background: $white;
			border-radius: 100px;
			font-smoothing:subpixel-antialiased;
			height: 5vw;
			opacity: 0;
			position: absolute;
				top: 0;
				left: 0;
			transform: scale(1) translateZ(1px);
			transition: opacity 0.1s ease, transform 0.1s ease;
			width: 5vw;
			z-index: 500;

			&.active {
				font-smoothing:subpixel-antialiased;
				opacity: 0.5;
				transform: scale(4) translateZ(1px);
				transition: opacity 0.15s ease, transform 0.1s ease;
			}

		}

		.in {
			background: $in;
			height: 100%;
			position: absolute;
				top: 0vw;
				left: 100vw;
			transition: all 0.5s ease 0.5s;
			width: 100vw;
			z-index: 0;
		}

		&.active {

			.img-in {
				opacity: 1;
				transition: all 0.5s ease 0.5s;
			}

			.in {
					left: 0vw;
				transition: all 0.5s ease;
			}

		}

	}
